@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");
:root {
  --green: rgb(0, 163, 73);
  --gray: rgb(156, 156, 156);
  --middle-structure: #000;
  --side-structure: #000;
  --hover: #000;
  --background: #eee;
  --primary-background: #e8eaec;
  --text-input-color: #000;
  --toggle-background: #e8eaec;
  --toggle-shadow: 6px 6px 8px rgba(13, 39, 80, 0.25), 
                    -6px -6px 10px #fff, 
                    inset -8px -8px 12px rgba(255,255,255,0.7), 
                    inset 5px 5px 8px rgba(13,39,80,0.2);
  --first-box-shadow: 6px 6px 8px rgba(13, 39, 80, 0.25), 
                        -6px -6px 10px #fff, 
                        inset -8px -8px 12px rgba(255,255,255,0.7), 
                        inset 5px 5px 8px rgba(13,39,80,0.2);
  --second-box-shadow: 12px 12px 32px rgba(13,39,80,0.25), 
                        -10px 10px 15px #fff;
  --third-box-shadow: 4px 4px 8px rgba(13, 39, 80, 0.25), 
                        -4px 4px 8px #fff;
  --fourth-box-shadow: -3px -3px 7px #a0a0a032, 
                        3px 3px 5px rgba(94, 104, 121, 0.417);
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  border-radius: 3rem;
}

::-webkit-scrollbar-thumb {
  background: #00a349;
  border-radius: 3rem;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  -webkit-transition: ease .4s all;
  transition: ease .4s all;
  background-color: var(--background);
}

body header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 2rem;
}

body header .toggleButton {
  position: relative;
  width: 100px;
  height: calc(30px + .4rem);
  background: var(--toggle-background);
  -webkit-box-shadow: var(--toggle-shadow);
          box-shadow: var(--toggle-shadow);
  border: none;
  border-radius: 3rem;
  overflow: hidden;
  padding: .2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: ease .4s all;
  transition: ease .4s all;
}

body header .toggleButton:hover {
  -webkit-filter: brightness(1.03);
          filter: brightness(1.03);
}

body header .toggleButton .bar {
  position: absolute;
  top: 4px;
  left: 4px;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background: var(--background);
  -webkit-box-shadow: var(--first-box-shadow);
          box-shadow: var(--first-box-shadow);
  -webkit-transition: ease .4s all;
  transition: ease .4s all;
  pointer-events: none;
}

body header .toggleButton.active .bar {
  left: calc(100% - 30px);
}

body main {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 2rem;
}

body main .calculator {
  width: 320px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background: var(--primary-background);
  padding: 1.5rem;
  border-radius: 1rem;
  -webkit-box-shadow: var(--second-box-shadow);
          box-shadow: var(--second-box-shadow);
}

body main .calculator .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main .calculator .header .time {
  color: var(--side-structure);
}

body main .calculator .header .middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

body main .calculator .header .middle .speaker {
  width: 50px;
  height: 6px;
  border-radius: 3rem;
  background-color: var(--middle-structure);
}

body main .calculator .header .middle .camera {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--middle-structure);
}

body main .calculator .header .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: .5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main .calculator .header .icons i {
  font-size: 1.3rem;
  color: var(--side-structure);
}

body main .calculator .header .icons i#wifi {
  -webkit-transform: translateY(-10%);
          transform: translateY(-10%);
}

body main .calculator .screen {
  width: 100%;
  padding: 1.5rem 1rem;
  font-size: 1.5rem;
  margin: 1.5rem 0;
  text-align: right;
  background: var(--primary-background);
  -webkit-box-shadow: var(--first-box-shadow);
          box-shadow: var(--first-box-shadow);
  color: var(--text-input-color);
  border: none;
  border-radius: 1rem;
  outline: none;
}

body main .calculator .keyboard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1.40rem;
  width: 100%;
}

body main .calculator .keyboard button {
  width: 50px;
  height: 50px;
  border-radius: .5rem;
  background: transparent;
  -webkit-box-shadow: var(--third-box-shadow);
          box-shadow: var(--third-box-shadow);
  border: none;
  font-size: 1.3rem;
  font-weight: bold;
  cursor: pointer;
  color: var(--green);
}

body main .calculator .keyboard button.result {
  height: calc(2 * 50px + 1.40rem);
}

body main .calculator .keyboard button:active {
  -webkit-box-shadow: var(--fourth-box-shadow);
          box-shadow: var(--fourth-box-shadow);
}

body main .calculator .keyboard button.number {
  color: var(--gray);
}

@media only screen and (min-width: 1119.99px) {
  body main .calculator .keyboard button.number {
    -webkit-transition: ease all .4s;
    transition: ease all .4s;
  }
  body main .calculator .keyboard button.number:hover {
    color: var(--hover);
  }
}

body main .calculator .keyboard .numbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.40rem;
}

body main .calculator .keyboard .numbers .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.40rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body main .calculator .keyboard .others {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.40rem;
}
/*# sourceMappingURL=styles.css.map */